<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>PlanNexus: AI planner all you need.....</title>
  <link rel="stylesheet" href="/static/style.css">
  <link rel="icon" href="/static/fevicon.png">

</head>

<body>




  <div class="chatbot-popup">
    <div class="chat-header">
      <div class="header-info">
        <div class="bot-"><img src="/static/Plan.png" alt="photo" height="60px"></div>
        <div class="items">
          <button class="butt">
            <h4>About Us</h4>
          </button>
          <button class="butt">
            <h4>Follow Us</h4>
          </button>
          <button class="butt">
            <h4>Chat</h4>
          </button>
        </div>
      </div>
    </div>
  </div>











  <div class="chat-body">
    <div class="message bot-message">
      <div class="bot-avtr"><img src="/static/aireply.png" alt="AIlOGO" height="20px"></div>
      <div class="message-text"> How can i help you ?</div>

      <br>
   {% for item in l %}
   <div class="container-class">
<div class="step-card">
    <h1 class="step-title">Step: {{item.step_number}}</h1>
    
    <h3 class="section-title">Description</h3>
    <div class="description-text">{{item.description}}</div>
    
    <h3 class="section-title">Courses</h3>
    <div class="item-list">
       {% for x in item.courses %}
         <div class="item-badge">{{x}}</div>
       {% endfor %}
    </div>
    
    <h3 class="section-title">Projects</h3>
    <div class="item-list">
       {% for x in item.projects %}
         <div class="item-badge">{{x}}</div>
       {% endfor %}
    </div>
    
    <h3 class="section-title">Online Certifications</h3>
    <div class="item-list">
        {% for x in item.online_certifications %}
         <div class="item-badge">{{x}}</div>
        {% endfor %}
    </div>
</div></div>
{% endfor %}






  <!--Chat Footer-->
  <div class="chat-footer">
    <form action="/" class="chat-form" method="post">

      <input type="inp" name="inp" class="message-input" required placeholder="Enter your email">
      <div class="chat-controls">
        <button onclick="sam()" type="submit" id="send-message" class="material-symbols-rounded ">✚</button>
      </div>
    </form>
  </div>
  </div>
   
</body>
   <script src="/static/spt.js"></script>
</html>